.site-policy-links {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid white;
  margin: 0 12px;
  padding: 8px 0;
}

.site-policy-links > * {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.policy-link {
  text-decoration: none;
  color: rgb(80, 80, 80);
}

.copyright {
  padding: 12px;
  color: rgb(80, 80, 80);
}
