.popular-subs {
  display: flex;
  flex-direction: column;
}

.popular-subs > .sidebar-dropdown-item-button {
  display: flex;
  justify-content: space-between;
  border: none;
  padding: 12px;
  font-family: Noto Sans, Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
}
