.post-list-item {
  display: flex;
  width: auto;
  padding: 8px;
}

.post-list-item:hover {
  cursor: pointer;
}

.post-body {
  min-width: 575px;
}

.post-info,
.action-bar {
  display: flex;
  align-items: center;
}

.post-info > * {
  margin-right: 6px;
  font-size: 12px;
}

.post-info a {
  text-decoration: none;
}

.action {
  display: flex;
  align-items: center;
  padding: 8px;
}

.icon {
  font-size: 20px;
}

.posted-by {
  display: flex;
}

.title > * {
  display: inline;
  font-size: 16px;
}
