.similar-posts-widget .post-blurb {
  display: flex;
  flex-direction: column;
  padding: 8px 4px;
  font-size: 12px;
}

.similar-posts-widget .post-blurb > * {
  margin-bottom: 4px;
}

.similar-posts-widget .sub-icon {
  height: 20px;
  width: 20px;
}

.similar-posts-widget a {
  font-weight: inherit;
  color: inherit;
  text-decoration: none;
}

.similar-posts-widget .title {
  display: -webkit-box;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 14px;
}

.similar-posts-widget .blurb-preview {
  height: auto;
  width: 140px;
  align-self: center;
}

.similar-posts-widget .stats {
  display: flex;
  align-items: center;
}
.similar-posts-widget .stats > * {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.similar-posts-widget .stats .icon {
  font-size: 20px;
}
