.post-main {
  min-width: 575px;
  margin-left: 8px;
}

.post-main > .title > h3 {
  display: inline;
  font-size: 16px;
  font-weight: 500;
}

.post-main > .title a {
  margin: 4px 8px;
  font-size: 12px;
  vertical-align: baseline;
  text-decoration: inherit;
}

.post-main > .title a:hover {
  text-decoration: underline;
}

.post-main > .action-group {
  display: flex;
}

.post-main > .action-group .icon {
  font-size: 20px;
}

.post-main > .preview {
  display: flex;
  justify-content: center;
  max-height: 819px;
}

.post-main > .preview > img {
  width: 100%;
}
