.post-list-item {
  display: flex;
  padding: 8px;
}

.post-list-item:hover {
  cursor: pointer;
}

.post-info,
.action-bar {
  display: flex;
  align-items: center;
}

.post-info > * {
  margin-right: 6px;
}

.action {
  display: flex;
  align-items: center;
  padding: 8px;
}

.icon {
  font-size: 20px;
}

.posted-by {
  display: flex;
}

.title > * {
  display: inline;
}
