.header-buttons {
  display: flex;
  min-height: 32px;
  min-width: 32px;
  font-size: 14px;
  font-weight: 700;
}

.header-buttons > * {
  width: 120px;
  padding: 4px 16px;
}

.signup-button {
  border: 1px solid rgb(63, 129, 252);
  border-radius: 16px;
  color: rgb(63, 129, 252);
  font-weight: bold;
}

.login-button {
  margin-left: 16px;
  border: 1px solid rgb(63, 129, 252);
  border-radius: 16px;
  background-color: rgb(63, 129, 252);
  color: white;
  font-weight: bold;
}
