.header-container {
  display: flex;
  height: 48px;
}

header {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  display: inline-flex;
  height: 48px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0 20px;
  flex: 1;
}

header > * {
  top: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

header > .actions {
  justify-content: right;
  gap: 10px;
  margin-right: 16px;
}

header > .actions > .dropdown-container {
  padding: 4px 12px;
}

header > .actions > .dropdown-container:hover {
  box-shadow: 0 0 0 1px grey;
}

header > .main > .logo {
  display: flex;
  width: 250px;
  height: 48px;
}

header > .main > .logo > img {
  transform: scale(0.8);
}
