.header-container {
  display: flex;
  height: 48px;
}

header {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  display: inline-flex;
  height: 48px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0 20px;
  flex: 1;
  z-index: 1;
}

header > * {
  top: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

header > .main > .logo {
  display: flex;
  width: 250px;
  height: 48px;
}

header > .main > .logo > img {
  transform: scale(0.8);
}

header > .actions {
  justify-content: right;
  gap: 10px;
}

header > .actions > .dropdown-container {
  padding: 4px 12px;
}

header > .actions > .user-container {
  width: 212px;
}

/* User Dropdown */
header > .actions .show-content {
  position: relative;
  top: 12px;
}

header > .actions .show-content > .dropdown-menu {
  max-height: 85vh;
  overflow-y: auto;
}

/* Authentication Modal */
.overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 5;
}

.overlay > .auth-card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 544px;
  width: 280px;
  background-color: white;
  border-radius: 12px;
  padding: 48px 60px;
  font-size: 12px;
}

.auth-card form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 24px;
}

.auth-card form > * {
  margin-top: 24px;
}

.overlay input {
  border-radius: 40px;
}

.overlay button:not(.close-button) {
  border: none;
  padding: 0;
  color: blue;
  text-decoration: underline;
}

.overlay button:hover,
.auth-card input[type='submit'] {
  cursor: pointer;
}

.overlay .close-button {
  position: absolute;
  right: 20px;
  top: 20px;
  border: none;
}

.auth-card .snoo-icon > img {
  height: 40px;
}

.auth-card input {
  height: 40px;
  padding: 0 18px;
  font-size: 14px;
}

.auth-card input[type='submit'] {
  background-color: #0079d3;
  color: white;
  font-weight: 600;
}

.auth-card .text-divider {
  margin: 0 4px;
}
