/* .reset-password form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.reset-password form input {
  height: 48px;
  margin-bottom: 24px;
  padding: 0;
}

.snoo-icon > img{
  height: 40px;
}
 */
