.navbar a {
  margin: 0 5px;
  padding: 4px 8px;
  color: inherit;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  opacity: 0.6;
}

.navbar a:hover {
  opacity: 1;
}

.navbar .active {
  border-bottom: 3px solid var(--navbar-color);
  opacity: 1;
}
