.search-bar {
  width: 650px;
  margin: 0 120px;
  padding: 6px;
  font-size: 14px;
}

.search-bar:hover {
  border: 1px solid blue;
  border-radius: 20px;
}

label {
  display: flex;
}

#header-search-bar {
  margin-left: 6px;
  border: none;
}

#header-search-bar:focus {
  outline: none;
}

#header-search-bar::placeholder {
  font-size: 14px;
}
